
<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="..." alt="Filler Image" width="1600" height="800"> 
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  
  <div class="w3-row w3-padding-64" id="about">
     <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src = '../../assets/Pasta.jpg' alt="Pasta" width="100%" height="100%">
    </div> 

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Le Bistrot d'Andre</h1><br>
      <h5 class="w3-center">Tradition since 2021</h5>
      <p class="w3-large">Le Bistrot d'Andre was founded in blabla by Gabrielle Anderson in lorem ipsum dolor sit amet, consectetur adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use seasonal ingredients.</p>
      <p class="w3-large w3-text-grey w3-hide-medium">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  
  <hr>
  
  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Menu</h1><br>
      <h4>Wood Fired Bread</h4>
      <p class="w3-text-grey">Garlic & herb infused, + add mozzarella or nduja 5</p><br>
    
      <h4>Beef Meatballs</h4>
      <p class="w3-text-grey">Hand made beef meatballs with Parmesan & mint, arrabbiata sauce 12</p><br>
    
      <h4>Mixed Olives</h4>
      <p class="w3-text-grey">Marinated in garlic, chilli & herbs 4</p><br>
    
      <h4>Bolognese Arancini</h4>
      <p class="w3-text-grey">Bolognese arancini & Parmesan 6</p><br>
    
      <h4>Cheese Croquettes</h4>
      <p class="w3-text-grey">Mac & Parmesan cheese croquettes 6</p>    

      <a href="http://localhost:4200/menu" class="w3-button w3-light-grey w3-section">
        <button>
            View More Items
        </button>
      </a>
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="../../assets/Pizza.jpg" class="w3-round w3-image w3-opacity-min" alt="Pizza" style="width:100%">
    </div>
  </div>

  <hr>

  <!-- Contact Section -->
  <div class="w3-container w3-padding-64" id="booking">
    <h1>Online Bookings</h1><br>
    <p>We offer online bookings in advance for groups of any size</p>


    <a href="http://localhost:4200/reservation" class="w3-button w3-light-grey w3-section">
        <button>
            Book Now
        </button>
    </a>

  </div>
  
  <hr>

<!-- Contact Info -->
<div class="w3-container w3-padding-64" id="contact">
  <h1>Contact Us</h1><br>
  <p>For any inquiries you can also contact us by phone at +61 12 345 678 or email email@email.com</p>
</div>

<!-- End page content -->
</div>