<h2>Create New Staff Member</h2>

<p id="test"></p>

<mat-card>
  <form (submit)="onAddStaff(staffForm)" #staffForm="ngForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="John Doe" type="text" name="enteredName" ngModel required minlength="3" #enteredName="ngModel">
      <mat-error *ngIf="enteredName.invalid">please enter a valid name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Role</mat-label>
      <input matInput placeholder="Role" type="text" name="enteredRole" ngModel required minlength="3" #enteredRole="ngModel">
      <mat-error *ngIf="enteredRole.invalid">please enter a valid role</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput placeholder="JohnDoe@email.com" type="text" name="enteredEmail" ngModel required #enteredEmail="ngModel">
      <mat-error *ngIf="enteredEmail.invalid">please enter a valid email</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="12 3456 7890" type="number" name="enteredPhone" ngModel required #enteredPhone="ngModel">
      <mat-error *ngIf="enteredPhone.invalid">please enter a valid phone number</mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" style="text-align: center; padding-left: 10px; padding-right: 10px;">Create</button>
  </form>
</mat-card>
<br>

