* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  background: #152782;
}

.quote-box {
  margin: auto;
  width: 100%;
  max-width: 800px;
  min-height: 500px;
  padding: 70px;
  background: #d3d3d3;
  border-radius: 35px;
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

p {
  color: #000000;
  font-size: 35px;
  word-wrap: break-word;
}

p:last-of-type {
  margin: 10px 0;
}

button {
  border: none;
  outline: none;
  margin-right: 325px;
  align-items: center;
}

a {
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.new-quote {
  background: #413efa;
  color: #fff;
  width: 160px;
  padding: 20px;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}

.tweet-quote {
  background: #413efa;
  color: #fff;
  width: 160px;
  padding: 20px;
  font-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 700ms ease-in-out;
}

.new-quote:hover {
  background: #615eff;
}

.tweet-quote:hover {
  background: #615eff;
}